#familia.alert ,
#amigo.alert,
#trabalho.alert, 
#romantico.alert, 
#conhecido.alert, 
#outros.alert {
    max-width: 210px;
    text-align: center;
    padding: 3px;
}

#familia,
rect#familia{
    background-color: #cce5ff; 
    color: #004085; 
}

#amigo{
    background-color: #d4edda; 
    color: #155724; 
}

#trabalho {
    background-color: #fff3cd; 
    color: #856404; 
}

#romantico{
    background-color: #f8d7da; 
    color: #721c24; 
}

#conhecido {
    background-color: #ebcceb; 
    color: #5f255f
}

#outros {
    background-color: #d6d8d9; 
    color: #343a40; 
}

h3.text-dark{
    font-weight: 700;
}

.contact-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-rect {
    width: 20px; 
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center; 
    margin-right: 10px; 
    filter: brightness(90%);
}
