@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-background: #EADCB2;
    --color-text-dark: #00140A;
    --color-text-white: #F5E9E2;
    --color-contrast1: #ca1d31;
    --color-contrast2: #3d53a5;
    --color-contrast3: #2879e2;
    --color-contrast4: #35a531;
    --color-contrast5: #e7b41b;
}

html body{
    background-color: var(--color-background);
    font-family: "Montserrat", serif;
    margin: 0;
}

/* Formularios */
.form-label {
    font-weight: 500;
}

.btn-primary {
    background-color: var(--color-contrast3);
}

.btn-danger {
    background-color: var(--color-contrast1);
}

.btn.btn-secondary.px-3{
    background-color: var(--color-contrast4);
    border: none;
}

.btn{
    width: 200px;
    font-weight: 500;
}

/* Aparece apenas caso não tenha contato registrado */
.btn.btn-secondary.btn-lg.p-3.px-5 {
    width: auto;
    background-color: var(--color-contrast4);
    border: none;
}


h1.text-center.mb-4.mt-5{
    font-weight: 700;
    color: var(--color-contrast2);
}

.text-center.mt-5{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* Nav */
.web-site-name {
    font-family: "Bungee Shade", serif;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(45deg, #0a58ca, #dc3545);
    -webkit-background-clip: text;
    background-clip: text;   
}


@media (min-width: 992px)  {
    .nav-link:hover{
        font-weight: 700;
        color: var(--color-contrast4);
    }
}

